:root {
  //color
  --color-bg: hsl(244, 62%, 95%);
  --color-heading: hsl(0, 0%, 7%);
  --color-button: hsl(287, 72%, 59%);

  --color-1: hsl(347, 86%, 92%);
  --color-2: rgb(201, 243, 226);
  --color-3: rgb(242, 213, 186);

  //font
  --font-over: "Overpass", sans-serif;
  --font-pop: "Poppins", sans-serif;
  --font-roboto: "Roboto", sans-serif;
}
